@model string
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rezolver (MVC &amp; Web API)</h1>
    <p class="lead">Rezolver is (yet another) IOC container that is completely portable, super-fast, completely extensible and supports some pretty advanced scenarios</p>
	<p>This example site demonstrates some of the features that you can take advantage of in the context of a web project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>The message below is injected into the controller via the dependency resolver:</p>
			<p>@Model</p>
    </div>
</div>