@model ErrorModel
@{
    ViewBag.Title = "Page Not Found";
}

<h1>Could not resolve type <code>Html&lt;requested_content&gt;</code></h1>
<hr />
<p class="lead">
    <code>@Model.RelativePathRequested</code> does not exist.  It might have been moved, removed, or perhaps the URL is spelt incorrectly - please go to
    <a href="@Url.Content("~/")" title="Rezolver documentation home">the homepage</a> and locate the page from there, or use the search box to find it again.
</p>
<p>
    If the page you were visiting is for a specific API, then it's possible the current version of the Rezolver no longer contains
    that API, or that it has been renamed.  If this is the case, the <a href="https://github.com/ZolutionSoftware/Rezolver/releases" title="Rezolver release history">release history</a> might
    provide details of the change that was made.
</p>