@import "../../../styles/bootstrap-variables-rezolver";

/* Included after docfx.vendor (incorporating bootstrap) and the base docfx.css styles */

a #logo {
	padding: 1px;
}

.navbar-inverse {
	border-bottom: none;
}

@subnav-grad-start: @alt-color-darker;
@subnav-grad-highlight: #fff;
@subnav-grad-end: lighten(@alt-color-lighter, 10%);
@subnav-border: darken(@subnav-grad-end, 10%);

.navbar-default.subnav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b2466+0,ffffff+18,e9effd+100 */
	background: @subnav-grad-end; /* Old browsers */
	background: -moz-linear-gradient(top, @subnav-grad-start 0%, @subnav-grad-highlight 23%, @subnav-grad-end 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, @subnav-grad-start 0%,@subnav-grad-highlight 23%,@subnav-grad-end 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, @subnav-grad-start 0%,@subnav-grad-highlight 23%,@subnav-grad-end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2466', endColorstr='#e9effd',GradientType=0 ); /* IE6-9 */
	border-bottom-color: @subnav-border;
}

.github-link{
	font-size:30px;
	margin-top: 2px;
	margin-bottom:0;
	a{
		color:white;
		text-decoration:none;
	}
}

.sidefilter, .sidetoc {
	background: @subnav-grad-end;
	border-left-color: @subnav-border;
	border-right-color: @subnav-border;
}

body .toc, .sidenav, .fixed-header {
	background: @subnav-grad-end;
}

h1, h2, h3, h4, h5, h6 {
	/* remove header breaking - looks v.silly for long titles and narrow screens */
	word-wrap: normal; /* break-word;*/
	word-break: normal; /* break-all;*/
}

blockquote {
	border-left-color: @main-color-darker;
	background: fade(@main-color-lighter, 50%);
	font-size: @font-size-base;
	color: @gray-light;

	h5 {
		margin-top: 0;
		margin-bottom: 10px;
	}
}

.toc .level1 > li {
	font-size: @font-size-base;
}

.toc .level2 {
	font-size: @font-size-small;
	margin-left: 5px;
}

pre{
	position:relative;
}

.labelledCode(){
	&::before {
			content: attr(name);
			display: block;
			position:absolute;
			right:0px;
			top:0px;
			padding: 5px;
			border: 1px solid;
			border-color: darken(@pre-border-color, 30%);
			border-top: none;
			background: darken(@pre-border-color, 30%);
			color: white;
		}

		*:first-child {
			display:inline-block;
			margin-top:2em;
		}
}

@media only screen and (max-width: @screen-sm) {
	pre code[name] {
		.labelledCode;
	}
}

@media only screen and (min-width: @screen-lg-min){
	pre code[name] {
		.labelledCode;
	}
}


.hljs {
	//have to prevent inherit because if using a transparent colour, the transparency stacks.
	background: none;
}

footer .packageDetails {
	margin-bottom: 5px;
	padding: 10px;
	background: fade(@alert-success-bg, 50%);
	color: @alert-success-text;
}

footer .packageDetails.notyetreleased {
	background: fade(@alert-danger-bg, 50%);
	color: @alert-danger-text;
}

.footer {
	background: @navbar-inverse-bg;
	color: @navbar-inverse-color;

	a {
		color: @main-color;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media only screen and (max-width: @screen-sm) {
	.toc .level2 > li {
		&:after {
			content: none;
		}

		display: inline-block;
		min-width: 20em;
	}

	.toc .nav > .li > a {
		display: inline-block;
	}
}
